# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
*.tfplan

# Secrets
*.pem
*.key
*.env
*.env.*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Node
node_modules/

# Logs
*.log

# Kubernetes
kubeconfig*